<div class="card">
  <div class="card-content">
    <ul class="collection">
      <li
        class="collection-item"
        *ngFor="let v of videoList"
        [class.selected]="v.id === selectedVideo?.id"
      >
        <a [routerLink]="" [queryParams]="{ id: v.id }">
          <app-video-list-item [video]="v"></app-video-list-item>
        </a>
      </li>
    </ul>
  </div>
</div>
