<form [formGroup]="details" (ngSubmit)="submitTheForm()">
  <input formControlName="author" type="text" />
  <input formControlName="numViews" type="number" />
  <button class="btn">Submit Form</button>
</form>
